<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
    </head>
    <body>
        <form action="/auth" method="POST">
            <div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" />
                </div>
                <div>{$message|escape:'html'}</div>
            </div>
            <input type="submit" value="Submit"/> 
        </form>
    </body>
</html>